<div class="dashboard-container">]
  <div class="content">
    <!-- Global Search Bar -->
    <div class="search-bar-container">
      <input type="text" class="form-control search-bar" placeholder="Search..." (input)="onSearch($event)">
      <div class="search-results" *ngIf="searchResults.length > 0">
        <ul>
          <li *ngFor="let result of searchResults" (click)="navigateTo(result.link)">
            {{ result.name }}
          </li>
        </ul>
      </div>
    </div>



    <!-- Box for Number of Subscribed Apps -->
    <div class="info-box dark-mode">
      <i class="fa fa-th-large"></i>
      <div class="info-box-content">
        <span class="info-box-text">Subscribed Apps</span>
        <span class="info-box-number">{{ subscribedAppsCount }}</span>
      </div>
    </div>

    <!-- Box for Recent Activity -->
    <div class="info-box dark-mode">
      <i class="fa fa-history"></i>
      <div class="info-box-content">
        <span class="info-box-text">Recent Activities</span>
        <span class="info-box-number">{{ recentActivityCount }}</span>
      </div>
    </div>

    <!-- Box for Support -->
    <div class="info-box dark-mode">
      <i class="fa fa-life-ring"></i>
      <div class="info-box-content">
        <span class="info-box-text">Support</span>
        <span class="info-box-number">Get Help</span>
      </div>
    </div>
  </div>
</div>