<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="dashboard-container">

    <div class="header">
        <h1>Dashboard</h1>
    </div>

    <div class="content">
        <!-- Combined Search Bar -->
        <div class="search-bar-container">
            <div class="search-bar">
                <span class="material-icons search-icon">search</span>
                <input type="text" placeholder="Search components and applications..."
                    (input)="onSearch($event)" [(ngModel)]="searchQuery" />
            </div>

            <div class="search-results" *ngIf="searchResults.length > 0">
                <ul>
                    <li *ngFor="let result of searchResults" (click)="navigateTo(result)">
                        <span *ngIf="result.name">{{ result.name }}</span>
                        <span *ngIf="result.applicationName">
                             <img *ngIf="result.applicationIconUrl" [src]="result.applicationIconUrl" alt="App Icon" class="search-app-icon">
                            {{ result.applicationName }} -
                            {{ result.description }}
                        </span>
                    </li>
                </ul>
            </div>

            <div *ngIf="isLoading" class="loading-message">Loading applications...</div>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

        </div>

        <div class="recent-activity-container">
            <h2>Recent Activity</h2>
            <ul class="activity-list">
                <li *ngFor="let activity of recentActivities">
                    <span class="activity-description">{{ activity.description }}</span>
                    <span class="activity-timestamp">{{ activity.timestamp | date:'short' }}</span>
                </li>
            </ul>
        </div>

    </div>
</div>